<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Load the URDF/Xacro model of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find rbx1_description)/urdf/turtlebot.urdf.xacro'" >
   
      <param name="robot_description" command="$(arg urdf_file)" />    
  </arg>
  <!-- | Se modificarón las líneas 5 y 7, en la 8 se agregó "</arg>" para hacer que funcione en ROS noetic-->  
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" clear_params="true">
      <rosparam file="$(find rbx1_bringup)/config/fake_turtlebot_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  <!-- Se usa remap para unir el nodo de turtle1/cmd_vel al /cmd_vel del package arbotix y poder controlar el 
  robot con el teclado-->
  <remap from="/cmd_vel" to="/turtle1/cmd_vel" />
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
  
</launch>
